.container {
  width: 1312px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  font-family: Onest;
  font-size: 24px;
  font-weight: 500;
}

.card1 {
    width: 612px;
    height: 256px;
    background-color: #e7e5e5;
    border-radius: 24px;
    display: flex;
}

.table {
    font-family: Onest;
    font-weight: 500;
    font-size: 24px;
    color: #2C3640;
}

.arbitr {
    font-family: Onest;
    font-weight: 400;
    font-size: 16px;
    color: #2C3640;
}

.case {
    width: 564px;
    height: 80px;
    background-color: #fff;
    border-radius: 8px;
}

.case2 {
    font-family: Onest;
    font-weight: 500;
    font-size: 16px;
    color: #2C3640;
}